:root {
    --branco: #FFFFFF;
    --preto: #000000;
    --azul: #3772FF;
    --verde: #36D6AD;
    --coral: #FC7071;
    --creme: #FCF0E3;
    --cinza: #737380;
    --cinza-claro: #BCBCBC;
    --cinza-claro-fundos: #F7F7F7;

    --fonte-principal: 'Poppins', san-serif;
    --fonte-secundaria: 'IBM Plex Sans', sans-serif;
}

body {
    background-image: url('../img/OndasCima.svg');
    background-position: top left;
    background-repeat: no-repeat;
    min-height: 100vh;
    font-size: 16px;
    font-weight: 400;
    font-family: var(--fonte-principal);
    display: flex;
    flex-direction: column;
}

.corpo-principal {
    background-color: var(--branco);
}

.cabecalho {
    padding: 3rem;
    display: flex;
}

.cabecalho-img {
    margin-right: 3.2rem;
}

.cabecalho-user-img {
    position: absolute;
    margin: -0.5rem 0 0 5rem;
}

.txt-message {
    text-align: center;
    margin: 3rem auto 1.5rem auto;
    padding: 0 4rem 0 4rem;
    color: var(--azul);
    font-style: normal;
    line-height: 21px;
}

form {
    margin: 1rem 1.5rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    background-color: var(--cinza-claro-fundos);
    border-radius: 10px;
    -webkit-appearance: none;
}

form label, form legend {
    margin: 1rem 0 0.5rem 0;
    color: var(--azul);
    font-weight: 600;
}

form input, form textarea {
    background-color: var(--branco);
	padding: 15px 15px;
	width: 100%;
    box-shadow: 0px 2px 2px 0px #00000026;
    border-color: var(--cinza-claro-fundos);
    border-radius: 6px;
}

input::placeholder, textarea::placeholder {
    margin: auto;
    font-family: var(--fonte-principal);
    color: var(--cinza-claro);
    font-size: 14px;
    line-height: 21px;
}

.enviar {
    margin: 2rem 0 1rem 0;
    padding: 0.5rem;
    align-self: center;
    width: 50%;
    background-color: var(--coral);
    font-family: var(--fonte-principal);
    color: var(--branco);
    font-weight: 600;
    line-height: 24px;
    border-radius: 6px;
    cursor: pointer;
}

.rodape {
    background-color: var(--verde);
    padding: 2.7rem;
    color: var(--branco);
    font-size: 14px;
    line-height: 24px;
    text-align: center;
}

.assinatura {
    color: var(--branco);
}